@{
    ViewData["title"] = "Register Car";
}

<h1>Register new car here</h1>

<div class="form">
   <div class="form-group row">
        <label class="col-4 form-group-label" for="year">Year:</label>
        <div class="col-8">
            <input type="text" class="form-control" placeholder="2003"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-4 form-group-label" for="make">Make:</label>
        <div class="col-8">
            <input type="text" class="form-control" placeholder="Ford"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-4 form-group-label" for="model">Model:</label>
        <div class="col-8">
            <input type="text" class="form-control" placeholder="Mustang"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-4 form-group-label" for="cyls">Cylinders:</label>
        <div class="col-8">
            <input type="text" class="form-control" placeholder="8"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-4 form-group-label" for="dailyPrice">Daily Price:</label>
        <div class="col-8">
            <input type="text" class="form-control" placeholder="12000"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-4 form-group-label" for="imageUrl">Image Link:</label>
        <div class="col-8">
            <input type="text" class="form-control" placeholder=""/>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="/css/register.css">
}